* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navegador {
  display: flex;
  background-color: rgb(227, 227, 240);
  height: 4rem;
  margin-left: 3rem;
  margin-right: 3rem;
  border-radius: 6px;
}
.btnNav {
  border: solid black 1px;
  border-radius: 3px;
  padding: 0.5rem;
  font-size: 1rem;
  width: 16.66%;
  margin: 1rem;
}
.logo {
  padding: auto;
  width: 50%;
}
.padre2 {
  display: flex;
  background-color: white;
  height: 400px;
  margin-left: 3rem;
  margin-right: 3rem;
  border: yellow solid;
}
.section1 {
  background-color: palevioletred;
  border: solid black;
  width: 50%;
  margin: 5px;
}
.section2 {
  background-color: darkgoldenrod;
  border: solid green;
  width: 50%;
  margin: 5px;
}
h3 {
  padding-top: 5px;
}
p {
  margin-top: 1rem;
}
button {
  background-color: blue;
  color: cornsilk;
  padding-top: 8px;
  padding-right: 20px;
  padding-bottom: 8px;
  padding-left: 20px;
  margin-top: 10px;
  border-radius: 5px;
}
